{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md">
        <br>
        <nav>
            <h1>Cadastre-se</h1>
        </nav>
        <hr>
        <form method="POST" action="">
            {% csrf_token %} {{ form.username.errors }}
            <label>Digite o usuário:</label> {{ form.username }}
            <br> {{ form.password1.errors }}
            <label>Digite a senha:</label> {{ form.password1 }}
            <br> {{ form.password2.errors }}
            <label>Confirme a senha: </label> {{ form.password2 }}
            <br>
            <input class="btn btn-success btn-lg" type="submit"><br>
            <a href="{% url 'Usuario:login' %}" class="btn btn-info btn-lg">Logar</a>
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock content %}